

/* logo */

@media screen and (min-width: 620px) {
    #logo-small {
        display: none;
    }  
   }

@media screen and (max-width: 620px) {
     #logo {
         display: none;
     }  
    }

@media screen and (max-width: 620px) {
    #logo-small {
        display: block;
    }
    
}


/* figure main */


@media screen and (max-width: 620px) {
    .img-home {
        /*width: calc(80% / 2);*/
        width: calc(90% / 2);
        margin: 5px;
        
       
        
    }

    img {
        height: 65%;
    }

    figure {
        justify-content: center;
    }
}


/* menu top */

@media screen and (max-width: 600px) {
    #menu-top ul li span {
        display: none;
    }
    
}

/* menu bottom */

@media screen and (max-width: 600px) {
    #menu-bottom .account span {
        display: none;
    }

    #menu-bottom .account i {
        display: block;
        margin: 15px auto;

    }
}
    



/* menu playlist */

@media screen and (max-width: 600px) {
    .playlist {
        display: none;
    }
    
}



/* secondo blocco figure */

@media screen and (max-width: 600px) {
    .second-block {
        display: none;
    }

    .third-block {
        display: none;
    }
    
}


