
@media screen and (max-width: 1900px) {
    
    img {
        height: 50%;
    }

    figure {
        justify-content: center;
    }
}





@media screen and (max-width: 1700px) {
    
    img {
        height: 50%;
    }

    figure {
        justify-content: center;
    }
}



@media screen and (max-width: 1500px) {
    .img-home {
        /*width: calc(80% / 2);*/
        width: calc(90% / 4);
        margin: 5px; 
    }
    img {
        height: 70%;
    }

    figure {
        justify-content: center;
    }
}



@media screen and (max-width: 1000px) {
    .img-home {
        /*width: calc(80% / 2);*/
        width: calc(90% / 3);
        margin: 5px;
        
       
        
    }

    img {
        height: 50%;
    }

    figure {
        justify-content: center;
    }
}











/* logo */

@media screen and (min-width: 620px) {
    #logo-small {
        display: none;
    }  
   }

@media screen and (max-width: 620px) {
     #logo {
         display: none;
     }  
    }

@media screen and (max-width: 620px) {
    #logo-small {
        display: block;
    }
    
}

/* main */

@media screen and (max-width: 1900px) {
    .figure-container {
        padding-top: 15%;
    }  
   }


   @media screen and (max-width: 1800px) {
    .figure-container {
        padding-top: 15%;
    }  
   }


   @media screen and (max-width: 1500px) {
    .figure-container {
        padding-top: 20%;
    }  
   }

   @media screen and (max-width: 1000px) {
    .figure-container {
        padding-top: 35%;
    }  
   } 


@media screen and (max-width: 620px) {
    .figure-container {
        padding-top: 35%;
    }  
   }



/* figure main */


@media screen and (max-width: 620px) {
    .img-home {
        /*width: calc(80% / 2);*/
        width: calc(90% / 2);
        margin: 5px;
        
       
        
    }

    img {
        height: 50%;
    }

    figure {
        justify-content: center;
    }
}


/* menu top */

@media screen and (max-width: 600px) {
    #menu-top ul li span {
        display: none;
    }
    
}

/* menu bottom */

@media screen and (max-width: 600px) {
    #menu-bottom .account span {
        display: none;
    }

    #menu-bottom .account i {
        display: block;
        margin: 15px auto;

    }
}
    



/* menu playlist */

@media screen and (max-width: 600px) {
    .playlist {
        display: none;
    }
    
}



/* secondo blocco figure */

@media screen and (max-width: 600px) {
    .second-block {
        display: none;
    }

    .third-block {
        display: none;
    }
    
}








