* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* layout */

.full-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}


aside {
   flex-basis: 200px;
    background-color: black;
    height:calc(100vh - 100px);
    display: flex;
    width: 10%;
}

.interno {
    display: flex;
    /*flex-direction: column;*/
    /*width: 85%;*/
    flex-grow: 1;
    height:calc(100vh - 100px);
    overflow-y: auto;
    position: relative;
}


header {
    width: 100%;
    height: 15%;  
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0px;
    right: 0px;
}

main {
    /*width: 100%;*/
    height:calc(100vh - 100px);
    background-color: rgb(50, 50, 50);
    flex-grow: 1;
    
}

.figure-container {
    padding-top: 15%;
}

.flex {
    display: flex;
}

footer {
    background-color: red;
    width: 100%;
    height: 100px;
}


/* fine layout */




/* inizio nav */

#logo {
    height: 25%;
    display: block;
    margin: 5px auto;
}

ul li button {
    font-size: 24px;
    display: block;
    margin: 15px auto;
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    width: 15%;
}

#menu-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#menu-bottom {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: flex-end;
    color: white;
}


.account {
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.icon-user {
    background-color: grey;
    padding: 10px;
    border-radius: 50%;
    margin: 0px auto;
}

.icon-arrow {
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    margin: 10px auto;
}

/* fine nav */


/******* HEADER *******/

div a {
    color: white;
}


.flex {
    display: flex;
}

.header {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

/* link header */

.header a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 40%;
    padding: 20px;
}



/***** MAIN *****/


/* lista main */

div ul {
    display: inline-block;
    text-align: center;
    width: 100%;
    text-decoration: none;

}

div ul li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    margin: 0px 10px;
    color: rgb(150, 150, 150);
}


/* titolo main */

main h2 {
    color: white;
    margin: 25px 15px;
}



/* figure main */

figure {
    display: flex;
    flex-wrap: wrap;
}

.img-home {
    /*width: calc(80% / 2);*/
    width: calc(100% / 6);
    justify-content: flex-start;
}

.img-home  {
   width: calc(90% / 6);
   margin: 15px;
   
}

.img-home h3 {
    color: white;  
}

.img-home p {
    color: rgb(150, 150, 150);
    margin-top: 5px;
}



